<div class='prices-container'>
  <a href="images/tarifs.pdf" class="btn btn-primary prices-btns" download><%= t(:prices)[:btn] %></a>

  <% if I18n.locale == :fr %>
     <%= link_to t(:prices)[:btn2], "/contact_us.html", class: "btn btn-primary prices-btns" %>
  <% else %>
    <%= link_to t(:prices)[:btn2], "/en/contact_us.html", class: "btn btn-primary prices-btns" %>
  <% end %>
</div>

<div class='fixed'>
  <%= link_to t(:mentions), "/mentions.html", class: "mentions" %>
</div>
