.thk-confirmation {
  z-index: 1; /* Sit on top */
  height: 100%; /* Full height */
  width: 100%; /* Full width */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thk-wrapper {
  height: calc(100vh - 164px);
  width: 100vw;
  background-position: top;
  background-size: cover;
}

.thk-content {
  z-index: 2000;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.8);
}

.thk-title {
  padding-bottom: 15px;
  width: 80%;
  margin: 0 10%;
}

.thk-btn {
  background-color: $purple;
  border-color: $purple;
  padding: 0 20px;
  font-size: 14px;
  margin-top: 15px;
  &:hover {
    background-color: #854eb2;
    border: 1px solid white;
  }
}

.thk-text {
  padding: 20px;
}

.underline {
  border-bottom: 1px solid $purple;
}
