.contact-container {
  .row {
    width:100%;
    margin: 0;
  }
}

.contact-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 10%;
  padding: 10px;
  border-bottom: 0.5px solid $purple;
  h3 {
    margin: 0
  }
}

.contact-form {
  background: white;
  opacity: 0.9;
  margin: 10px 0;
  border-radius: 4px;
}

.contact-height {
  height: calc(100vh - 100px);
}

@media (max-width: 667px) {
  .contact-height {
    padding-bottom: 50px;
  }
}

.contact-infos {
  padding: 20px 10px;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  border-right: 0.5px solid rgba(83, 45, 114, 0.4);
  height: 100%;
}

@media (max-width: 576px) {
  .contact-infos {
  border-bottom: 0.5px solid rgba(83, 45, 114, 0.4);
  border-right: none;
  }
}
