.image-holder-intro {
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width: 576px) {
  .image-holder-intro {
    align-items: flex-end;
  }
}

.introduction {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
  color: $purple;
  background-color: white;
  p {
    text-align: center;
  }
}

@media(max-width: 576px) {
  .introduction {
    width: 100%;
  }
}
