---
title: Middleman - About
---

<div id="about">
  <div class="about-content">
    <h3>Some information about this template</h3>

    <p>
      We tried to provide an updated template, based on the one from Le Wagon (https://github.com/lewagon/middleman-template), permitting the use of Bootstrap 4 on Middleman, with just the right gems and config in order to deploy it easily.
    </p>
    <p>
      <strong>
        In anyway, if it is you first time you should go over Middleman documentation: https://middlemanapp.com/ <br>
        Really well done and easy to understand.
      </strong>
    </p>
    <p>
      Moreover we used this opportunity to correct some bugs we were dealing with for deployement <br>
      <em>
        <ul class='content-left'>
          <li>
            we changed the actionview gem version to prevent a critical error from GitHub,
          </li>
          <li>
            some gems have been removed, application.scss & application.js have been updated,
          </li>
          <li>
            minify_javascipt has been commented, the js_include_tag has been moved after the yeild in the layout.html,
          </li>
          <li>
            we added some comments here and there to help you on some subjects we encountered like i18n).
          </li>
        </ul>
      </em>
    </p>
    <p>
      Be warned, as we think that Fontawesome is too heavy we use .svg files.
      Thus, Fontawesome gem / css config are not included in this template.
    </p>
    <p>
      Hoping this will be helpful,
    </p>
    <p><strong>Benoit</strong></p>
  </div>
</div>
