---
title: Middleman
---

<div id="home">
  <div class="home-content">
    <h1>Middleman is now running!</h1>
    <p class="about">
      <%= link_to "Click here to know what we did on this basic template", "about.html" %>
    </p>
  </div>
</div>
